.searchBox-card {
  height: 30px;
}

.searchBox-card form {
  height: 100%;
}

.searchBox-card input {
  width: 60%;
  height: 100%;
  text-align: center;
  border: 1px solid #ffffff;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #000;
  outline: none;
  padding: 5px;
  margin: 0;
}

.searchBox-card button {
  width: 20%;
  height: 100%;
  background-color: #000;
  border: 1px solid #ffffff;
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}

@media (min-width: 640px) {
  .searchBox-card input {
    width: 30%;
  }

  .searchBox-card button {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  .searchBox-card button:hover {
    background-color: #272121;
  }
}
